.jumbotron {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  border-radius: 15px;
  background-color: rgb(222, 222, 222);
  background-color: #64ccc5;
  background-color: rgb(209, 255, 255);
  padding: 20px;
}

.header {
  margin-bottom: 80px;
  color: #000;
  text-align: center;
}
form {
  background-color: rgb(209, 255, 255);
  background-color: #64ccc5;
  display: flex;
  height: max-content;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
}
.input {
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
.button {
  height: 40px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #614bc3;
}
