<!DOCTYPE HTML>
<html>
    <head>
        <title>
        
            Yelp Clone Website
            
        </title>
    </head>
    
    <body>
        <div class = "jumbotron">
            <div class = "container">
                <h2> WELCOME TO MY YELP CLONE WEBSITE </h2>
                <form action = "/submit">
                    <input type="text" name="location" placeholder="City Name">
                    <input type="text" name="term" placeholder="Type of Business">
                    <input type="submit" value="Submit">
                </form>
            </div>
    </body>
</html>