<!DOCTYPE HTML>
<html>

<head>
    <title>

        Welcome to My Yelp Clone Website

    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
        integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/index.css')}}"
        media="(min-width: 721px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/foo.css') }}"
        media="(max-width: 721px)">

</head>

<body>
    <div class="jumbotron">
        <div class="contain">
            <h1 class="header"> Welcome to my Yelp Clone Website </h1>

            <form action="/submit">
                <input type="text" name="location" placeholder="City Name" class="input">
                <input type="text" name="term" placeholder="Type of Business" class="input">
                <input type="submit" value="Submit" class="btn btn-primary button">
            </form>
        </div>
    </div>
</body>

</html>